@import 'tailwindcss';

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

.mxh {
  min-height: calc(100vh - 240px);
}

.logo {
  max-height: 108px;
  position: relative;
  margin-top: -69px;
  margin-right: -65px;
}

@media screen(sm) {
  .logo {
    max-height: 80px;
    position: relative;
    margin-top: -73px;
    margin-right: -50px;
  }
}
