:root {
  --text-sm: 0.99rem;
  --color-link: #646cff;
  --color-link-hover: #535bf2;
}

a {
  font-weight: 500;
  color: var(--color-link);
  text-decoration: none;
}

a:hover {
  color: var(--color-link-hover);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1,
h2,
h4 {
  line-height: 1.1;
  font-weight: 700;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 1.26rem;
  margin-bottom: 5rem;
}

h4 {
  font-size: 1.15rem;
}

.vvv {
  max-height: calc(100vh - 110px);
}

footer {
  margin: 10px 0 0;
  padding: 0;
}

@media (min-width: 800px) {
  footer {
    margin-top: 4px;
    padding-bottom: 15px;
  }

  .vvv {
    max-height: 100vh;
  }
}
