:root {
  font-family: system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --text-sm: 0.99rem;
  --color-link: #646cff;
  --color-link-hover: #535bf2;
}

a {
  font-weight: 500;
  color: var(--color-link);
  text-decoration: none;
}

a:hover {
  color: var(--color-link-hover);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1,
h2,
h4 {
  line-height: 1.1;
  font-weight: 700;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 1.26rem;
  margin-bottom: 5rem;
}

h4 {
  font-size: 1.15rem;
}

.vvv {
  max-height: calc(100vh - 110px);
}

footer {
  margin: 10px 0 0;
  padding: 0;
}

@media (min-width: 800px) {
  footer {
    margin-top: 4px;
    padding-bottom: 15px;
  }

  .vvv {
    max-height: 100vh;
  }
}
